.cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230 230 230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
    font-size: 16px;
}

.card img {
    height: 100px;
}

@media (max-width: 960px) {
    .card {
      width: 170px;
    }

    .card img {
        height: 75px;
      }
  }
  
  @media (max-width: 760px) {
    .card {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 520px) {
    .card {
      width: 170px;
    }

    .card img {
        height: 75px;
      }
  }
